# [db]
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=mse
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_HOST=db
MYSQL_PORT=3306

# [ldap]
LDAP_URL=ldap://127.0.0.1:389
LDAP_BIND_DN=
LDAP_BIND_PASSWORD=
LDAP_USER_BASE_DN=ou=user-accounts,ou=test-zone,dc=moevm,dc=info
LDAP_GROUP_BASE_DN=ou=user-groups,ou=test-zone,dc=moevm,dc=info

# [backend]
DATABASE_URL=mysql://root:${MYSQL_ROOT_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}
JWT_SECRET=jwt_secret

# [frontend]
VITE_API_BASE_URL=http://127.0.0.1:3000/api
