# [db]
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=db
MYSQL_PORT=3306

# [db] dev-env
MYSQL_OUTPUT_HOST=127.0.0.1
MYSQL_OUTPUT_PORT=3306
MYSQL_OUTPUT_URL=${MYSQL_OUTPUT_HOST}:${MYSQL_OUTPUT_PORT}


# [backend]
DATABASE_URL=mysql://${MYSQL_USER:-root}:${MYSQL_PASSWORD}@${MYSQL_HOST:-localhost}:${MYSQL_PORT}/${MYSQL_DATABASE}
JWT_SECRET=

BACKEND_OUTPUT_HOST=127.0.0.1
BACKEND_OUTPUT_PORT=3000
BACKEND_OUTPUT_URL=${BACKEND_OUTPUT_HOST}:${BACKEND_OUTPUT_PORT}


# [frontend]
VITE_API_BASE_URL=http://${BACKEND_OUTPUT_URL}/api

FRONTEND_OUTPUT_HOST=127.0.0.1
FRONTEND_OUTPUT_PORT=8080
FRONTEND_OUTPUT_URL=${FRONTEND_OUTPUT_HOST}:${FRONTEND_OUTPUT_PORT}
