# db
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=db
MYSQL_PORT=3306

# backend
DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}
JWT_SECRET=

# frontend
VITE_API_BASE_HOST=localhost
VITE_API_BASE_PORT=3000
VITE_API_BASE_URL=http://${VITE_API_BASE_HOST}:${VITE_API_BASE_PORT}/api
FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=8080