# Зависимости
node_modules/
.pnpm-store/

# Файлы окружения
.env
.env.local
.env.*.local

# Логи
npm-debug.log*
pnpm-debug.log*
.pnpm-debug.log*

# Директории сборки
dist/
build/
coverage/
*.tsbuildinfo

# Системные файлы
.DS_Store
Thumbs.db

# Редакторы
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

.idea/
*.swp
*.swo
*~

# Временные файлы тестов
*.log
.temp

# Кэш ESLint
.eslintcache

# Prisma
**/generated/prisma/**

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
