# Сервисы для backend, frontend и базы данных MySQL
services:
  # Сервис для базы данных MySQL — стартует первым
  db:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    # Настройка healthcheck для проверки состояния базы данных
    healthcheck:
      # Команда для проверки доступности MySQL сервера
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      # Интервал между проверками состояния контейнера
      interval: 10s
      # Время ожидания ответа от контейнера перед признанием его неработоспособным
      timeout: 5s
      # Количество попыток проверки состояния контейнера перед признанием его неработоспособным
      retries: 5
    volumes:
      - db_data:/var/lib/mysql
    restart: unless-stopped
    env_file: [.env]

  # Сервис для backend — стартует после БД
  backend:
    image: mse/backend
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - '${BACKEND_PORT:-8080}:3000'
    environment:
      DATABASE_URL: mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@db:3306/${MYSQL_DATABASE}
    healthcheck:
      # Команда для проверки доступности сервера на порту 3000
      test: ['CMD-SHELL', 'mysqladmin ping -h localhost -u root -p$$MYSQL_ROOT_PASSWORD']
      # Интервал между проверками состояния контейнера
      interval: 10s
      # Время ожидания ответа от контейнера перед признанием его неработоспособным
      timeout: 5s
      # Количество попыток проверки состояния контейнера перед признанием его неработоспособным
      retries: 5
    # Backend стартует только после того, как БД будет готова
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    env_file: [.env]

  # Сервис для frontend — стартует после backend
  frontend:
    image: mse/frontend
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - '80:80'
    # Запускаем frontend только после того, как backend будет готов к работе
    depends_on:
      backend:
        condition: service_healthy
    restart: unless-stopped
    env_file: [.env]

# Тома для хранения данных
volumes:
  # Том для хранения данных базы данных MySQL
  db_data:

# Сеть для взаимодействия между сервисами
networks:
  # Сеть по умолчанию для всех сервисов
  default:
    # Используем драйвер bridge для изоляции сети между контейнерами.
    driver: bridge
