# Сервисы для backend, frontend и базы данных MySQL
services:
  # Сервис для базы данных MySQL — стартует первым
  db:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    # Настройка healthcheck для проверки состояния базы данных
    healthcheck:
      # Команда для проверки доступности MySQL сервера
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      # Интервал между проверками состояния контейнера
      interval: 10s
      # Время ожидания ответа от контейнера перед признанием его неработоспособным
      timeout: 5s
      # Количество попыток проверки состояния контейнера перед признанием его неработоспособным
      retries: 5
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql

  # Сервис для backend — стартует после БД
  backend:
    image: mse/backend
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - '8080:3000'
    environment:
      DATABASE_URL: mysql://user:password@db:3306/mydb
    healthcheck:
      # Команда для проверки доступности сервера на порту 3000
      test: ['CMD-SHELL', 'wget -qO- http://localhost:3000/ || exit 1']
      # Интервал между проверками состояния контейнера
      interval: 10s
      # Время ожидания ответа от контейнера перед признанием его неработоспособным
      timeout: 5s
      # Количество попыток проверки состояния контейнера перед признанием его неработоспособным
      retries: 5
    # Backend стартует только после того, как БД будет готова
    depends_on:
      db:
        condition: service_healthy

  # Сервис для frontend — стартует после backend
  frontend:
    image: mse/frontend
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - '80:80'
    # Запускаем frontend только после того, как backend будет готов к работе
    depends_on:
      backend:
        condition: service_healthy

# Тома для хранения данных
volumes:
  # Том для хранения данных базы данных MySQL
  db_data:

# Сеть для взаимодействия между сервисами
networks:
  # Сеть по умолчанию для всех сервисов
  default:
    # Используем драйвер bridge для изоляции сети между контейнерами.
    driver: bridge
