openapi: 3.0.0
info:
  title: Assignment of projects API
  description: API
  version: 1.0.0
servers:
  - url: 'https://localhost:3000/api'
paths:
  /auth/login:
    post:
      summary: Авторизация
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Токен авторизации
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  user: { $ref: '#/components/schemas/User' }
  /courses:
    get:
      summary: Список курсов
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Список курсов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'

    post:
      summary: Создание курса
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ title ]
              properties:
                title: { type: string }
                description: { type: string }

      responses:
        '201':
          description: Курс создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
  /courses/{id}:
    get:
      summary: Получение одного курса
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Данные курса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
  /courses/{id}/distribution:
    get:
      summary: Визуализация распределения по курсу
      security:
        - bearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Распределение по курсу
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributionResult'
  /projects:
    get:
      summary: Список проектов
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Список проектов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
  /assignments:
    get:
      summary: Общее распределение студентов по проектам
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Распределение
          content:
            application/json:
              schema:
                type: array
                items:
                  { $ref: '#/components/schemas/Assignment' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      required: [id, fullName, email, role]
      properties:
        id: { type: integer }
        fullName: { type: string }
        email: { type: string, format: email }
        group: { type: integer }
        role:
          type: string
          enum: [bachelor, master, teacher, admin]
    Course:
      type: object
      required: [id, title]
      properties:
        id: { type: integer }
        title: { type: string }
        description: { type: string }
    Project:
      type: object
      required: [id, title, teacherId, courseId]
      properties:
        id: { type: integer }
        title: { type: string }
        description: { type: string }
        teacherId: { $ref: '#/components/schemas/User/properties/id' }
        courseId: { $ref: '#/components/schemas/Course/properties/id' }
    Assignment:
      type: object
      required: [ studentId, projectId, courseId ]
      properties:
        studentId:
          type: integer
        projectId:
          type: integer
        assignedAt:
          type: string
          format: date-time
        courseId:
          type: integer
    DistributionResult:
        type: object
        properties:
          course:
            $ref: '#/components/schemas/Course'
          assignments:
            type: array
            items:
              $ref: '#/components/schemas/Assignment'